{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
        <li>
            <h2>{{ post.getTitle() }}</h2>
            <p>{{ post.getContent() }}</p>
            <p>Criado em: <strong>{{ post.getCreatedAt() | date("d/m/Y H:i:s") }}</strong></p>
            <hr>
        </li>
    {% endfor %}
{% endblock %}