<html>
    <head>
        <title>View Sy 3.4</title>
    </head>
    <body>
    {% for post in posts %}
        <h2>{{ post.getTitle() }}</h2>
        <p>{{ post.getContent() }}</p>
        <p>Criado em: <strong>{{ post.getCreatedAt() | date("d/m/Y H:i:s") }}</strong></p>
        <hr>
    {% endfor %}
    </body>

</html>